In [2]:
import pandas as pd

# Data as interpreted from the image provided by the user
data = {
    'Household Type': ['Households With Dogs Only', 'Households With Cats Only', 'Households With Dogs And Cats'],
    'Food': [339, 310, 321],
    'Veterinary Care': [367, 253, 311],
    'Toys': [79, 50, 83],
    'Grooming': [99, 18, 64],
    'Other': [28, 22, 28],
    'Total': [912, 653, 807]
}

# Create a DataFrame
df_spending = pd.DataFrame(data)

df_spending.to_csv('spending.csv')

In [24]:
import pandas as pd
import re

# Read the CSV file into a DataFrame
df = pd.read_csv('/Users/linfangqing/Desktop/dog_economic/data-Y7Cd3.csv')

# Convert currency and percentage fields to numeric types
# Remove '$', ',', and '%' and convert the strings to floats
currency_fields = ['Median Household Income', 'Vet Care, Pet Insurance & Boarding_1', 'Day Care_1']
percentage_fields = ['Vet Care, Pet Insurance & Boarding', 'Day Care']

# Remove currency formatting and convert to float
for field in currency_fields:
    df[field] = df[field].replace('\$', '', regex=True)
    df[field] = df[field].replace(',', '', regex=True)
    df[field] = df[field].replace('%', '', regex=True).astype(float)

# Remove percentage formatting and convert to float
for field in percentage_fields:
    df[field] = df[field].replace('%', '', regex=True).astype(float) / 100  # divide by 100 to convert to a proportion

df['City '] = df['City '].str.extract(r'^(.*?)\s*\^')

# Save the cleaned DataFrame to a new CSV file
clean_csv_file_path = 'cleaned_pet_data.csv'
df.to_csv(clean_csv_file_path, index=False)
df.head()

<>:14: SyntaxWarning: invalid escape sequence '\$'
<>:14: SyntaxWarning: invalid escape sequence '\$'
/var/folders/xn/mx6s6c89295c4697_q6fwb1h0000gn/T/ipykernel_93399/1001519794.py:14: SyntaxWarning: invalid escape sequence '\$'
  df[field] = df[field].replace('\$', '', regex=True)

,Rank,City,Median Household Income,"Vet Care, Pet Insurance & Boarding_1",Day Care_1,"Vet Care, Pet Insurance & Boarding",Day Care
0,1,Winston-Salem,57392.0,1533.0,2784.0,0.0267,0.0485
1,2,Greensboro,57908.0,1546.0,2592.0,0.0267,0.0448
2,3,Bakersfield,58217.0,1536.0,2688.0,0.0264,0.0462
3,4,El Paso,51002.0,1323.0,2496.0,0.0259,0.0489
4,5,Memphis,55840.0,1418.0,2688.0,0.0254,0.0481